<configuration>
    <!--<property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight(%-5level) | %magenta(%-15.15thread) | %cyan(%-40.40logger{36}) | %msg%n"/> -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} | %highlight(%-4level) | %magenta(%-4.4thread) | %cyan(%-36.36logger{30}) | %msg%n"/>

    <!-- 控制台输出 Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 文件输出 Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/azusa.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/azusa.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置全局日志级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="FILE" />-->
    </root>

    <logger name="tech.hanasaki.azusa" level="DEBUG"/>

    <!-- 框架日志 -->
    <logger name="io.netty" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <!-- 开启 Exposed SQL 日志 -->
    <logger name="Exposed" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>